* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: #fff;
    background-color: #000;
    font-family: 'Space Grotesk';
    font-size: 1.6rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.6rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Italiana';
}

.container {
    max-width: 117rem;
    margin: 0 auto;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo img {
    float: left;
    width: 15rem;
    padding: 1rem 1rem;
}

header ul {
    padding-left: 0;
}

header ul li {
    list-style: none;
    display: inline-block;
    margin: 0 2rem;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.banner {
    height: 100vh;
    background-color: url(../imgs/banner.jpg) no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: flex-end;
}

.banner .splash-text {
    text-align: center;
    padding: 10rem;
}

.banner h1 {
    line-height: 8rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.banner p {
    font-family: 'Space Grotesk';
}

.btn {
    position: relative;
    display: inline-block;
    width: 25rem;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 6rem;
    z-index: 9;
    margin-top: 5rem;
    transition: all ease 0.5s;
}

.btn::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    opacity: .9;
    z-index: -1;
    transition: all ease 0.5s;
}

.btn:hover {
    color: #fff;
}

.btn:hover::before {
    top: 0;
    height: 100%;
}

.